body {
    font-family: 'Open Sans', sans-serif;
}

.content {
    padding-top: 60px;
}

.nav-item {
    padding: 0 10px;
    margin: 0 10px;
}
.nav-item.active {
    font-weight: 700;
}

.featured-link {
    border-radius: 5px;
}
.navbar-toggler {
    border: none;
}
.section-div {
    margin-top: 100px !important;
}

@media (max-width: 575px) {
    .display-4, h1 {
        font-size: 2rem;
    }
    .navbar-nav {
        height: 100vh !important;
    }
    .section-div {
        margin-top: 70px !important;
    }
}